[submodule "mapviz"]
    path = dependencies/mapviz
    url = https://github.com/swri-robotics/mapviz.git
    branch = ros2-devel

[submodule "micro-ROS-Agent"]
    path = dependencies/micro-ROS-Agent
    url = https://github.com/micro-ROS/micro-ROS-Agent.git
    branch = humble

[submodule "ntrip_client_ros"]
    path = dependencies/ntrip_client_ros
    url = https://github.com/Zeki411/ntrip_client_ros.git
    branch = ros2

[submodule "ublox"]
    path = dependencies/ublox
    url = https://github.com/KumarRobotics/ublox.git
    branch = ros2

[submodule "realsense-ros"]
    path = dependencies/realsense-ros
    url = https://github.com/IntelRealSense/realsense-ros.git
    branch = ros2-master

[submodule "rplidar_ros"]
    path = dependencies/rplidar_ros
    url = https://github.com/Slamtec/rplidar_ros.git
    branch = ros2

[submodule "witmotion_ros"]
    path = dependencies/witmotion_ros
    url = https://github.com/ElettraSciComp/witmotion_IMU_ros.git
    branch = ros2